:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #9176ad;
  --color-primary-dark: #3f0d70;
  --background-primary: #e9e9ed7f;
}

*{
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  text-decoration: none;
  list-style: none;
  cursor: inherit;
  line-height: inherit;
  text-align: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, input, button, textarea, a, svg, label {
  cursor: pointer;
}

/*  */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}